/* 
    Document   : style
    Created on : 29.10.2013, 16:16:37
    Author     : tscheurer
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body {
    font-family: "Segoe UI", sans-serif;
    font-size: 14px;
    background-color: #060e14;
}

div {
    /*border: 1px solid black;*/
}

h1 {
    padding: 0px;
    margin: 0px;
}

h2 {
    padding: 0px;
    margin: 0px;
}

h3 {
    padding: 0px;
    margin: 0px;
}

#bg {
    padding-bottom: 10px;
    background: #28608a; /* Old browsers */
    background: -moz-linear-gradient(top,  #28608a 0%, #060e14 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#28608a), color-stop(100%,#060e14)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #28608a 0%,#060e14 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #28608a 0%,#060e14 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #28608a 0%,#060e14 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #28608a 0%,#060e14 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28608a', endColorstr='#060e14',GradientType=0 ); /* IE6-9 */
}

#header {
    background-color: lightgray;
    /*border-bottom: 1px solid grey;*/
    padding: 2px 5px;
    font-size: 14px;

    color: white;
    background-color: darkslategray;
}

#date {
    display: inline;
}

#user {
    float: right;
    display: inline;
}

#logo {
    padding: 15px 5px;
    background-color: #DF0029;
    color: white;
    background: #f9002e; /* Old browsers */
    background: -moz-linear-gradient(top,  #f9002e 0%, #df0029 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9002e), color-stop(100%,#df0029)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f9002e 0%,#df0029 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f9002e 0%,#df0029 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f9002e 0%,#df0029 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f9002e 0%,#df0029 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9002e', endColorstr='#df0029',GradientType=0 ); /* IE6-9 */
}

#notifications {
    background-color: #F2DEDE;
    border-color: #EED3D7;
    color: #B94A48;
    padding: 5px;
    font-size: 12px;
}

#breadcrumbs {
    padding: 5px;
    color: white;
}

#content {
    border: 1px solid gray;
    margin: auto;
    width: 80%;
    margin-top: 40px;
    background-color: white;
    margin-bottom: 10px;
    min-height: 350px;
    box-shadow: 0px 0px 100px rgba(255,255,255,0.5);
    text-align: center;
}

#content .frame {
    /*display: table;*/
    width: 100%;
}

#content .frame div {
    /*display: table-cell;*/
    display: inline-block;
    border: 5px solid lightgray;
    margin: 10px;
    width: 250px;
    vertical-align: top;
    padding: 5px;
}

#content .frame table {
    margin: 5px 0;
    width: 100%;
    border: 1px solid gray;
}

#content .frame th {
    background-color: gray;
}

#zahl_ziehung {
    width: 20px;
}

#content .frame .action {
    float: left;
}

#content .frame .action select {
    width: 150px;
}

.error {
    background-color: #F2DEDE;
    color: #B94A48;
}

.warning {
    background-color: #FCF8E3;
    color: #C09853;
}

.info {
    background-color: #D9EDF7;
    color: #3A87AD;
}

.success {
    background-color: #DFF0D8;
    color: #468847;
}