#debugg{
    z-index: 1001;
    font-size: 16px;
    font-weight: bolder;
    background-color: white;
}
.alert{
    width: 100%;
    padding: 10px;
    display: inline-block;
    border: 1px solid gray;
}
/*global*/
body {
    font-family: "Segoe UI", sans-serif;
    font-size: 12px;
    background-color: #e5e5e5;

}
a:hover{
    text-decoration: none;
}
a, a:visited{
    color: black;
}

table th {
    cursor: pointer;
}

/*dashboard*/
.button-box{
    text-align: center;
    border: 0px solid black;
    margin-bottom: 8px;
}
/*buttons*/
.button{
    box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
    display: inline-block;
    min-width: 120px;
    padding: 4px;
    text-decoration: none;
    border-radius: 2px;
    margin: 0 5px 0 5px;
    border:1px solid #e5e5e5;
}
.button:hover{
    background-color: ghostwhite;
    opacity: 0.9;
}
/*color*/
.yellow{
    color: #c09853;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.red{
    color: #b94a48;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.green{
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.blue{
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1; 
}
.grey{
    color: black;
    background-color: lightgray;
    border-color: #b8b4b4; 
}
/*header*/
#header{
    white-space: nowrap;
    width: 100%;
    min-width: 500px;
    position: fixed;
    background-color: #4679bd;
    color: white;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.4);
}
#logo{
    float: left;
    padding: 2px;
    width: 60px;
}
#header a{
    color: white;
}
#header div{
    display: inline;
    padding: 15px;
}
#account{
    float: right;
}
#account form {
    display: inline;
}

#breadcrumb{
    float: left;
}

/*content*/
#content{
    padding-top: 50px;
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
}
.content-box{
    box-shadow: 0px 2px 3px rgba(0,0,0,0.4);
    background-color: white;
    border-radius:2px;
    padding: 0 15px 15px 15px;
/*    max-width: 600px;
    min-width: 300px;*/
    display: inline-block;
    text-align: left;
    margin: 20px 20px 0 0;
    vertical-align: top;
}
.content-box h1{
    vertical-align: top;
    border-radius: 2px 2px 0 0;
    display: block;
    background-color: #4679bd;
    margin: 0 -15px 10px -15px;
    padding: 5px;
    text-align: center;
    color: white;
}
/*form*/
form input[type="submit"]{
    border: 1px solid #4679bd;
    border-radius:2px;
    background-color: #efefef;
    margin: 15px 15px 0 0;;
}
form input[type="submit"]:hover{
    background-color: white;
}
.forms label{
    text-align: right;
}
.forms input{
    line-height: 22px;
}
.forms input[type="text"], input[type="date"], select{
    margin: 15px;
    min-width: 150px;
}
.forms input[type="radio"]{
    margin-right: 8px;
}
.forms fieldset{
    margin: 0;
    border: 1px solid #efefef;
    border-radius:2px;
}
.wider{
    display: inline-block;
    width: 170px;
}
/*list(index)*/
.list table {
    width: 100%;
    background-color: #efefef;
    margin-bottom: 10px;
    vertical-align: central;
}
.list table a{
    text-decoration: none;
}
.list tr > td{
    padding: 4px 4px;
}
.list tr, td, th{
    border: 1px solid white;
}
.list th{
    padding: 8px 4px;
}
.list tfoot{
    background-color: white;
    font-style: oblique;
}
.list tbody tr:hover{
    background-color: white;
}
.list a{
    display: inline-block;
    width: 100%;
}
.pages{
    text-align: center;
    margin-top: 0px;
}
.pages form{
    display: inline-block;
}

/*lotto-card*/
.lotto-card{

    border-radius:2px;
    padding: 10px;
    text-align: left;
    width: 350px;
    margin: 20px auto;
    background-color: #facbd5;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.4);
}
.lotto-row, .lotto-number{
    padding: 2px;
    margin: 5px 0;
}
.lotto-row{
    border: 1px solid black;
    border-radius:2px;
}
.lotto-number{
    text-align: right;
}
.lotto-number span{
    margin: 0;
    border: none;
}
.lotto-row input{
    width: 40px;
    margin: 5px;
}
.lotto-row span{
    margin-right: 25px;
    font-size: 19px;
}
.lotto-row span:first-child, label{
    font-weight: bold;
}
/*event-card*/
.event-card{
    border: 1px solid #efefef;
    border-radius:2px;
    padding: 10px;
    text-align: left;
    margin: 20px auto;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.4);
}
.show-table td{
    padding: 5px;
    vertical-align: text-top;
}
.show-table td:first-child{
    font-weight: bold;
}
/*balls*/
.ball{
    font-weight: bold;
    color: white;
    text-align: center;
    background: #4679bd;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: inline-block;
    margin: 3px;
    padding: 3px;
}
.winning{
    background: #ffea00;
    color: black;
}
/*login*/
#login{
    background-color: white;
    text-align: center;
    border: 5px solid #efefef;
    border-radius:2px;
    font-size: 15px;
    margin: auto;
    margin-top: 100px;	
    box-shadow: 0px 0px 100px rgba(0,0,0,0.3);
    width: 40%;
    min-width: 300px;
    padding: 60px;
}
#login h1{
    margin-bottom: 20px;
    color: #4679bd;
}
#login input{
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
    width: 250px;
    height: 40px;
}
/*serie*/
#save-number{
    width:92.5%;
    margin: 10px 0 30px 0; 
    display: inline-block;
    padding-bottom: 13px;
    border-radius:2px;
    border-color: #b8b4b4;
    border-width: 1px;
    text-align: center;
    background-color: #ebffeb;	
    font-weight: bold;
}
#save-number input[type="text"]{
    width: 80px;
}

#save-number input[type="submit"]:hover{
    background-color: white;
}

#header #noscript {
    display: block;
    font-weight: bold;
    /*text-align: center;*/
}

#header #noscript div {
    float: right;
}

#noscript img {
    position: absolute;
    right: 15px;
    vertical-align: middle;
    cursor: pointer;
}

#userdata input[type=text],#userdata input[type=email],#userdata input[type=password],#userdata select {
    padding: 5px;
    display: block;
    margin: 5px 0;
    width:  265px;
}

#userdata select {
    display: inline-block;
    min-width: 10px;
    width: 75px;
    margin-top: 0px;
}

#day ,#month {
    display: inline-block;
    width: 10px;
}

#userdata #month {
    margin: 0 5px;
}

#userdata #year {
    width: 117px;
}

#userdata fieldset {
    margin-bottom: 20px;
}

#error_404 {
    font-size: 48pt;
    padding: 20px 0;
    color: #4679BD;
}

#error_404_msg {
    font-size: 20pt;
}

div.card {
    background-color: rgb(250,200,211);
    border: 1px solid lightgray;
    padding: 4px;
    margin: 5px 0;
}

div.card div {
    border: 1px solid #222222;
    padding: 1px;
}

div.card table {
    text-align: center;
}

div.card table td {
    border: 1px solid #222222;
    width: 25px;
    height: 25px;
    font-size: 12pt;
}

div.card table td input {
    width: 30px;
    height: 30px;
    border: 0;
    margin: 2px;
    text-align: center;
}

#csnf {
    width: 30px;
}