/* 
    Document   : style
    Created on : 29.10.2013, 16:16:37
    Author     : tscheurer
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body {
    font-family: "Segoe UI", sans-serif;
    font-size: 14px;
    background-color: #060e14;
}

div {
    /*border: 1px solid black;*/
}

h1 {
    padding: 0px;
    margin: 0px;
}

#bg {
    padding-bottom: 10px;
    background: #28608a; /* Old browsers */
    background: -moz-linear-gradient(top,  #28608a 0%, #060e14 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#28608a), color-stop(100%,#060e14)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #28608a 0%,#060e14 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #28608a 0%,#060e14 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #28608a 0%,#060e14 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #28608a 0%,#060e14 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28608a', endColorstr='#060e14',GradientType=0 ); /* IE6-9 */
}

#header {
    background-color: lightgray;
    /*border-bottom: 1px solid grey;*/
    padding: 2px 5px;
    font-size: 14px;

    color: white;
    background-color: darkslategray;
}

#date {
    display: inline;
}

#user {
    float: right;
    display: inline;
}

#logo {
    padding: 15px 5px;
    background-color: #DF0029;
    color: white;
}

#notifications {
    background-color: #F2DEDE;
    border-color: #EED3D7;
    color: #B94A48;
    padding: 5px;
    font-size: 12px;
}

#breadcrumbs {
    padding: 5px;
    color: white;
}

#content {
    background-color: white;
    margin-bottom: 10px;
    min-height: 350px;
    box-shadow: 0px 0px 100px rgba(255,255,255,0.5);
}
a{
    text-decoration: none;
}
.buttoncreate{
    display: inline-block;
    background-color: #dff0d8;
    max-width: 100px;
    text-align: center;
    padding: 2px 3px 2px 3px;
    margin: 2px 3px 2px 3px;
    color: #468847;
    font-weight: bold;
    border: 1px solid #d6e9c6;
}

a:hover.buttoncreate{
    background-color: #d6e9c6;
    border: 1px solid #d6e9c6;
}
.buttonclose{
    display: inline-block;
    background-color: #f2dede;
    max-width: 100px;
    text-align: center;
    padding: 2px 3px 2px 3px;
    margin: 2px 3px 2px 3px;
    color: #b94a48;
    font-weight: bold;
    border: 1px solid #ebccd1;
}

a:hover.buttonclose{
    background-color: #ebccd1;
}
.buttonadd{
    display: inline-block;
    background-color: #d9edf7;
    max-width: 100px;
    text-align: center;
    padding: 2px 3px 2px 3px;
    margin: 2px 3px 2px 3px;
    color: #3a87ad;
    font-weight: bold;
    border: 1px solid #bce8f1;
}

a:hover.buttonadd{
    background-color: #bce8f1;
}